[user]
	name = rods
	email = rodel.cabubas@asurion.com
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true

[alias]
  st = status
  p = push -u origin HEAD
  l = log --graph
[pull]
	ff = only
	rebase = true
